*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* 
global 
*/
.nav{
    display: flex;
    height: 68px;
    justify-content: center;
    background-color: #ff6900;
}
.box-nav{
    width: 900px;
}
.box-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.box-nav .left-nav,
.box-nav .right-nav{
    display: flex;
}

.box-nav .logo{
    width: 20%;
}
.logo img{
    width: 90px;
}
ul li{
    margin-right: 10px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
/* -------------MAIN-------------------------- */
.container{
    max-width: 900px;
    margin: 0 auto;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 0;
}

.box{
    width: calc((100% - 20px) / 3);
}
.img-box{
    position: relative;
}
.box img{
    width: 100%;
    display: block;
}

.img-box .heart,
.img-box .tag-over-img{
    position: absolute;
}

.heart{
    top: 10px;
    right: 0;
    background-color:white;
    padding: 10px;
}

.tag-over-img{
    left: 0;
    bottom: 43px;
}
.sconto, .sostenibile{
    color: white;
    padding: 5px;
}
.tag-over-img .sconto{
    background-color: red;
}
.tag-over-img .sostenibile{
    background-color: #008000;
}
.description{
    display: flex;
    flex-direction: column;
}
.prezzo-scontato{
    color: red;
}
.prezzo{
    text-decoration: line-through;
    color: black;
}
/* GESTIONE DEL CUORE ROSSO */
.heart:hover{
    color: red;
}
/* GESTIONE DEL CUORE ROSSO */

/* GESTIONE DELLE IMMAGINI SOTTO LE IMMAGINI INIZIALI */
.img-box .hover-img{
    display: none;
}

.img-box:hover .hover-img{
    display: block;
}

.img-box:hover .first-img{
    display: none;
}


/* GESTIONE DELLE IMMAGINI SOTTO LE IMMAGINI INIZIALI */

/* FOOTER */

.footer{
   background-color: #1a1a1a; 
}

.content{
    display: flex;
    justify-content: space-around;
}

.right, .left{
    color: white;
}
.box-icon{
    display: flex;
}

.info-box .info{
    font-size: 10px;
}
.social{
    font-size: 13px;
}
.box-icon .icona{
    margin: 5px;
}